numpy
pandas
flask
scikit_learn
dvc
gunicorn
argparse
joblib
pytest==7.1.2
dill
mlflow
joblib
pytest==7.1.2
flask_cors
flask_sqlalchemy
pyrebase4
flask_pymongo
bcrypt
dnspython
pymongo[srv]
dill
flask_monitoringdashboard
mlflow
six
# -e .
streamlit
streamlit_extras